general {
        colors = true
        interval = 5
}

order += "wireless _first_"
order += "disk /"
order += "tztime local"
order += "volume master"
{{- if ne .chezmoi.hostname "aws-desktop" }}
order += "battery all"
{{- end }}

wireless _first_ {
        format_up = "W: (%quality at %essid) %ip"
        format_down = "W: down"
}

ethernet _first_ {
        format_up = "E: %ip (%speed)"
        format_down = "E: down"
}

battery all {
        format = "%status %percentage"
        last_full_capacity = true
        integer_battery_capacity = true
}

disk "/" {
        format = "%avail"
}

load {
        format = "%1min"
}

memory {
        format = "%used | %available"
        threshold_degraded = "1G"
        format_degraded = "MEMORY < %available"
}

tztime local {
        format = "%Y-%m-%d %H:%M"
}

volume master {
        format = "🔉:%volume"
        format_muted = "🔇: (%volume)"
        device = "default"
        mixer = "Master"
        mixer_idx = 0
}
