sub-visibility=no
sub-font='Noto Sans'

save-position-on-quit

ytdl-format="bestvideo[height<=?720]+bestaudio/best"

# set cache
{{- if eq .chezmoi.hostname "aws-thinkpad" }}
demuxer-max-bytes=256MiB
{{- else }}
demuxer-max-bytes=2GiB
{{- end -}}
