sub-visibility=no
sub-font='Noto Sans'

save-position-on-quit

ytdl-format="bestvideo[height<=?720]+bestaudio/best"

# set cache
{{- if ne .chezmoi.hostname "aws-thinkpad" }}
demuxer-max-bytes=2GiB
{{- else }}
cache = no
{{- end -}}
